# DYD Thermostat Data 

## Preprocess

1. Generated CSV file from queries in BigQueary

2. Aggregated the data in BigQuery by vintage of home (every 5 years)

3. Merged the vintages back in by summer soltice date

In [1]:
# Dependencies
import pandas as pd
import os
import numpy as np
from pathlib import Path
from datetime import datetime

---

## Combine Summer CSV Files

In [2]:
# Create variable for files in directory
files = [f for f in os.listdir("data/summer/") if f.endswith(".csv")]

# files

In [3]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
all_summer = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/summer/" + file)
    all_summer = pd.concat([all_summer, df])
    
all_summer

,AvgTempCtrl,AvgCool,AvgHeat,Identifier,Country,ProvinceState,Age_of_Home__years_
0,734.816176,732.500000,732.500000,a79c42312360f12bf571e48a6dff8c0795a086c1,US,AB,0
1,746.404412,746.056373,746.056373,d761e9f22aca4be5390b4c28dc5853556549f07b,US,AB,0
2,692.024000,650.000000,638.480000,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,0
3,740.551282,650.000000,615.000000,c810efa572eb24b685d4ea14eb98d7f79cac0bd3,US,AK,0
4,771.901961,745.000000,695.000000,455516c8c7ffb3658b2b938dffa0fda8b89bce70,US,AL,0
...,...,...,...,...,...,...,...
8657,737.994624,650.000000,620.000000,31fff6bad552eba4c1b4550a33e64174aa430ff4,US,WI,120
8658,743.500000,730.000000,730.000000,548931e2ed735c43f84ea49813309863875c5b4a,US,WI,120
8659,652.224490,650.000000,600.000000,4949e2207e8f59c14d94cb0938fa6195ab0c455a,US,WI,120
8660,745.087719,750.000000,750.000000,eac1c327b12edd2fb7a03908ec5011033cdae0b6,US,WI,120
8661,732.950000,720.650000,720.000000,6d578aaea9293ac052c317e1dedd3f6f62dc49a4,US,WI,120

In [4]:
# See all the unique names for states

all_summer.ProvinceState.unique()

array(['AB', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL',
       'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD',
       'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ',
       'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'QC', 'RI', 'SC',
       'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'VI',
       'ON', 'NB', 'YT', nan], dtype=object)

In [5]:
# Remove weird states

all_summer = all_summer[all_summer["ProvinceState"] != "AB"]
all_summer = all_summer[all_summer["ProvinceState"] != "VI"]
all_summer = all_summer[all_summer["ProvinceState"] != "ON"]
all_summer = all_summer[all_summer["ProvinceState"] != "NB"]
all_summer = all_summer[all_summer["ProvinceState"] != "YT"]
all_summer = all_summer[all_summer["ProvinceState"] != "QC"]

In [6]:
# See all the unique names for states

all_summer.ProvinceState.unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', nan], dtype=object)

In [7]:
# Drop NANs

all_summer = all_summer.dropna()

In [8]:
# See all the unique names for states

all_summer.ProvinceState.unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [9]:
# Export  file to csv

all_summer.to_csv("Scraper_Output/all_summer.csv", header=True, index=False)

---

## Combine Winter CSV Files

In [10]:
# Create variable for files in directory
files = [f for f in os.listdir("data/winter/") if f.endswith(".csv")]

# files

In [11]:
# https://stackoverflow.com/questions/63886787/how-to-create-a-dataframe-from-multiple-csv-files
# Initialize and empty dataframe
all_winter = pd.DataFrame()

# Iterate through files and contents, then concatenate the data into the dataframe
for file in files:
    df = pd.read_csv("data/winter/" + file)
    all_winter = pd.concat([all_winter, df])
    
all_winter

,AvgTempCtrl,AvgCool,AvgHeat,Identifier,Country,ProvinceState,Age_of_Home__years_
0,712.192402,711.779412,701.779412,a79c42312360f12bf571e48a6dff8c0795a086c1,US,AB,0
1,740.671569,742.738971,742.738971,d761e9f22aca4be5390b4c28dc5853556549f07b,US,AB,0
2,687.865385,691.211538,690.461538,0404ace1bcdf88d917bd860a04cd6c66fb51679f,US,AK,0
3,675.124138,677.758621,677.613793,fda1f67e8423ed49933c45617ee96aef3bae04ba,US,AK,0
4,684.433333,745.166667,695.166667,b22837a38739d740c6920c5c300e1bed17fcf706,US,AL,0
...,...,...,...,...,...,...,...
9586,664.720430,665.204301,658.763441,4949e2207e8f59c14d94cb0938fa6195ab0c455a,US,WI,120
9587,673.000000,740.000000,710.000000,6d578aaea9293ac052c317e1dedd3f6f62dc49a4,US,WI,120
9588,680.867384,683.333333,683.333333,31fff6bad552eba4c1b4550a33e64174aa430ff4,US,WI,120
9589,693.846154,707.538462,703.076923,75910578db7bd09526fdb3c6b2faf03d04402f83,US,WI,120
9590,692.266667,750.000000,690.000000,0676b436dde8bd5cac5df0511b26708d46251cbf,US,WI,120

In [12]:
# See all the unique names for states

all_winter.ProvinceState.unique()

array(['AB', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL',
       'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD',
       'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ',
       'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'QC', 'RI', 'SC',
       'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY',
       'ON', 'NB', 'YT', nan], dtype=object)

In [13]:
# Remove weird states

all_winter = all_winter[all_winter["ProvinceState"] != "AB"]
all_winter = all_winter[all_winter["ProvinceState"] != "VI"]
all_winter = all_winter[all_winter["ProvinceState"] != "ON"]
all_winter = all_winter[all_winter["ProvinceState"] != "NB"]
all_winter = all_winter[all_winter["ProvinceState"] != "YT"]
all_winter = all_winter[all_winter["ProvinceState"] != "QC"]

In [14]:
# See all the unique names for states

all_winter.ProvinceState.unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', nan], dtype=object)

In [15]:
# Drop NANs

all_winter = all_winter.dropna()

In [16]:
# See all the unique names for states

all_winter.ProvinceState.unique()

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
       'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
       'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
       'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)

In [17]:
# Export  file to csv

all_winter.to_csv("Scraper_Output/all_winter.csv", header=True, index=False)